<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665375275590-pk2k6ht5hv4bc2t3aej5002lanpq45g9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665375275590-pk2k6ht5hv4bc2t3aej5002lanpq45g9</string>
	<key>API_KEY</key>
	<string>AIzaSyBUwtZzo5EQUuwFQE-O8K7siQ0npFXw_SM</string>
	<key>GCM_SENDER_ID</key>
	<string>665375275590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beamcove.Perroquet</string>
	<key>PROJECT_ID</key>
	<string>perroquet-34fb8</string>
	<key>STORAGE_BUCKET</key>
	<string>perroquet-34fb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:665375275590:ios:b2abf57ef31187c5656847</string>
</dict>
</plist>
